_format_version: "3.0"

services:
  - name: django-api
    url: http://gt_backend:8000
    routes:
      - name: api-route
        paths:
          - /api
        strip_path: false
    plugins:
      # Segurança: Validação de JWT (RS256)
      - name: jwt
        config:
          claims_to_verify:
            - exp
          key_claim_name: kid
          secret_is_base64: false
      
      # Resiliência: Rate Limiting por IP
      - name: rate-limiting
        config:
          minute: 100
          policy: redis
          redis_host: gt_redis
          redis_port: 6379
      
      # Observabilidade
      - name: correlation-id
        config:
          header_name: X-Correlation-ID
          echo_downstream: true
      - name: prometheus